/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Page Styles */
body { 
	padding-top: 70px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.title{
	font-size: 26px;
	font-family: 'Lato', sans-serif;
}
.block-heading{
	position: relative;
}
.block-heading h3{
	text-transform: uppercase;
	font-size: 16px;
	color: #333;
	letter-spacing: 1.5px;
	font-family: 'Lato', sans-serif;
}
.block-heading::after{
	content: '';
	height: 1px;
	position: absolute;
	background-color: #9c27b0;
	left: 0;
	width: 30px;
}
.navbar-default{
	background-color: #9c27b0;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}
.navbar-default .navbar-brand{
	color: #fff;
}
#demo1-form{
	margin-top: 40px;
}
.btn{
	padding: 8px 34px;
	background-color: #9c27b0;
	color: #fff;
	font-size: 16px;
	border-radius: 0;
}
.btn:hover{
	color: #fff !important;
}
.btn-absolute{
	position: absolute;
	right: 15px;
    top: 20px;
}
.btn-outline{
	padding: 2px 12px;
	border: 1px solid #9c27b0;
	color: #9c27b0;
}
.code-section{
	background-color: #f7f7f9;
	margin-top: 40px;
}
.css-section{
	position: relative;
	margin-top: 35px;
}
.css-copy{ top: 0 !important; right: 0 !important; }
.css-code{ max-height: 200px; overflow-y: auto; }
.js-code{ max-height: 600px; overflow-y: auto; }
/* end Page Style */
/** For Plugin Style **/

#remove-profile-btn{ 
	display: none;
	margin-top: 12px;
}
#my-profile-file-selector{
	display: none;
}